.vert_foncé1 {
    color: #019961;
}

.vert_claire1 {
    color: #B5D653;
}

.vert_foncé2 {
    color: #3DAD5C;
}

.vert_claire2 {
    color: #79C258;
}

.noir {
    color: #030303;
}

.blanc {
    color: #FFFFFF;
}